$rgb-red: #ff1526;
$rgb-green: #00ff3a;
$rgb-blue: #2d00f9;

$nes-red: #f83800;
$nes-green: #58d854;
$nes-blue: #a4e4fc;
$nes-denim-blue: #0078f8;
$nes-fuchsia: #e40058;
$nes-light-purple: #d800cc;
$nes-dark-purple: #940084;
$nes-teal: #00e8d8;
