@import "fonts";
@import "colors";
@import "measurements";

.main {
  display: flex;
  flex-direction: column;
  width: $large-crt-width;

  h1 {
    margin-bottom: 28px;
    text-align: center;
    font-family: $mario-font;
    text-transform: lowercase;
    font-size: 60px;
    font-weight: normal;
    color: $nes-green;
  }

  p{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    line-height: 32px;
  }

  ul{
    padding: 0;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    li{
      margin: 14px;
      display: flex;
      span{
        width: 100px;
      }
      a{
        color: $nes-blue;
      }
      .icon{
        display: none;
      }
    }
  }
}

@media screen and (max-width: $large-max-width){
  .main{
    width: $medium-crt-width;
  }
}

@media screen and (max-width: $small-max-width) {
  .main{
    width: 100vw;
    p{
      width: unset;
    }
    ul{
      li{
        align-items: center;
        span{
          //display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .link{
          height: 20px;
          margin-bottom: 10px;
        }

        .text{
          display: none;
        }
        .icon{
          display: block;
          width: 60px;
        }
      }
    }
  }
}
