// Breakpoints
$large-max-width: 1800px;
$medium-max-width: 1400px;
$small-max-width: 800px;

// Dimensions
$large-crt-width: 800px;
$large-crt-height: 600px;

$small-crt-width: 400px;
$small-crt-height: 300px;
